[Unit]
Description=Daily Chriptmas backup

[Timer]
OnCalendar=daily
RandomizedDelaySec=30m
Persistent=true
Unit=chriptmas-backup.service

[Install]
WantedBy=timers.target
